
h3{
    
}

#contButton{
    margin: 1rem;
}
.container{
    max-width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E8E9EB;
    
    
}

.datePickers{
    display: flex;
    justify-content: space-around;
}

.react-datepicker-wrapper{
    padding: 10px !important;
}



#from{
    transform: translateY(30%);
}

#to{
    transform: translateY(30%);
    padding-right: 5px;
}

.resultWrapper{

}

.wrapper{
    height: 100%;
    animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}